# Currently using 1.11 LTS in production
Django<2.0

# AssertionError: `uritemplate` must be installed for OpenAPI schema support.
coreapi
# AssertionError: Using OpenAPIRenderer, but `pyyaml` is not installed.
pyyaml

# Currently installing DRF manually from local checkout
#-e https://github.com/encode/django-rest-framework/archive/openapi-schema-generation.zip
